/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;

}
.clearfix{
    content: '';
    display: table;
    clear: both;
}
body{
    font-family: 'Rubik Mono One', sans-serif ;
}
/* UTILS */
.shoes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flagship h1{
    text-align: center;
    font-weight: bolder;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
}
.change-pages{
    position: fixed;
    top: 30px;
    right: 0;
    list-style-type: none;
    text-decoration: none;
}
li a {
    color: black;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 20px;
  }
  li{
      display: inline-block;
  }
#shoes1{
      background-color: red;
      color: yellow;
  }
#shoes2{
      background-color: green;
      color: yellow;

  }
#shoes3{
    background-color: yellow;
    color: green;
  }
